body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:white
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*********************
    top banner style 
 **********************/
h2{
    font-size: 64px;
    color: white;
    margin-bottom: 27px;
}
.top-details{
     display: flex;
 }

.top-section-banner{
    background-color: rgb(3, 3, 194);
    display: flex;
}
.banner-title{
    width: 50%;
    padding-left: 15%;
    padding-top: 3%;
}
.flying-player{
    width: 50%;
     padding-left: 5%;
     padding-top: 5%;
     padding-bottom: 5%;
}
.flying-player img{
   width: 70%;
}

.button{
    display: inline;
    color: white;
    padding: 10px 24px ;
    background-color: #E02C6D ;
}
.button a{
    text-decoration: none;
    color: white;
}
.button:hover
{
    font-size: 1.5em;
    transition: 0.3s;
}
.fas fa-arrow-right{
   margin-left: 10px;

}
/**********************
   player info style
**********************/
h1{
    
    font-weight:bold;
}
p{
    font-weight: 200;
} 
.players-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:30px;
    grid-row-gap:27px;
    margin-top: 70px;
}
.player{
    width: 330px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
}
.player img{
    width: 100%;
}


/**********************
video section style 
********************/
h3{
    color: white;
}

.video-title{
    color: black;
    text-align: center;
    padding: 5% 0%;

}
.video-title h1{
    font-size: 55px;
    color: crimson;
    
}
.video-section{
  width: 100%;

}
.videos{
    display: flex;
}
.video{
    width: 40%;
    margin: 4%;
    padding: 1%;
    background-color: black;
}
.video iframe
{
    width: 100%;
}

/*********************
gallery style ********
**********************/
h4{
    font-size: 50px;
    color: crimson;
}
.gallery-title{
    text-align: center;
    padding: 2% 0px;
    
}
.gallery-photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:40px ;
    grid-row-gap: 35px;
   
}
.photo img{
    width: 300px;
    height: 420px;
    box-shadow: 2px 2px 20px rgba(37, 36, 36, 0.15);
}
.photo img:hover
{
  scale: 1.5;
}

/***********************
  footer section style
  ********************/

  footer{
      text-align: center;
      background-color: white;
      margin: 63px;
  }
  footer img{
     width: 484px;
  }
  .fab{
    
      margin: 20px 10px;
      padding: 10px 10px; 
      border-radius: 50%;
      background-color: rgb(221, 217, 217);
  }






/****************************
 media quary for Mobile screen 
 *****************************/

@media only screen and (max-width:560px) {

    /* top section for mobile sceeen */

    h2{
        font-size: 36px;
    }
    
    .top-details{
        display: flex;
        flex-direction: column;
    }
    .banner-title{
        width: 80%;
        padding: 10% 10%;
        
    }
    .flying-player{
        width: 90%;
        padding: 5%;
         
    }
    .flying-player img{
        width: 90%;
     }


     /* plkayers info style for mobile */

    .players-info{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    
    /*Video style */

    .video-section{
        width: 100%;
      
      }
      .videos{
          display: flex;
          flex-direction: column;
      }
      .video{
          width: 90%;
          background-color: black;
      }

     /*gallery style*/

     .gallery-photo{
        display: grid;
        grid-template-columns: 1fr ;
       
    }
    .photo img{
        width: 250px;
        height: 320px;
        box-shadow: 2px 2px 20px rgba(37, 36, 36, 0.15);
    }
     /* footer info for mobile */
     footer{
        text-align: center;
       
    }
    footer img{
        width:170px;
     }
}

 /****************************
 media quary for Tab screen 
 *****************************/



 @media only screen and (min-width:560px) and (max-width:1024px) {
    
    /* top section for tab */
    h2{
        font-size: 36px;
    }
    
    .top-details{
        display: flex;
        
    }
    .banner-title{
        width: 30%;
        padding: 5% 10%;
        
    }
    .flying-player{
        width: 40%;
        padding: 5%;
         
    }
    .flying-player img{
        width: 90%;
     }


     /* plkayers info style for tab */

    .players-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }

     /*****video style *****/

    .video-section{
        width: 100%;
      
      }
      .videos{
          display: flex;
          flex-direction: column;
      }
      .video{
          width: 90%;
          background-color: black;
      }

     /*gallery style*/

    .gallery-photo{
            display: grid;
            grid-template-columns: 1fr 1fr ;
    }
    .photo img{
        width: 250px;
        height: 320px;
        box-shadow: 2px 2px 20px rgba(37, 36, 36, 0.15);
    }

     /* footer info for tab */

     footer{
        text-align: center;
       
    }
    footer img{
        width:370px;
     }
}