body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color:white
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*********************
    top banner style 
 **********************/
h2{
    font-size: 64px;
    color: white;
    margin-bottom: 27px;
}
.top-details{
     display: flex;
 }

.top-section-banner{
    background-color: rgb(3, 3, 194);
    display: flex;
}
.banner-title{
    width: 50%;
    padding-left: 15%;
    padding-top: 3%;
}
.flying-player{
    width: 50%;
     padding-left: 5%;
     padding-top: 5%;
     padding-bottom: 5%;
}
.flying-player img{
   width: 70%;
}

.button{
    display: inline;
    color: white;
    padding: 10px 24px ;
    background-color: #E02C6D ;
}
.button a{
    text-decoration: none;
    color: white;
}
.button:hover
{
    font-size: 1.5em;
    transition: 0.5s;
}
/**********************
   player info style
**********************/
h1{
    
    font-weight:bold;
}
p{
    font-weight: 200;
} 
.players-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:30px;
    grid-row-gap:27px;
    margin-top: 70px;
}
.player{
    width: 330px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
}
.player img{
    width: 100%;
}

/***********************
  footer section style
  ********************/

  footer{
      text-align: center;
      background-color: white;
      margin: 63px;
  }
  footer img{
     width: 484px;
  }
  .fab{
    
      margin: 20px 10px;
      padding: 10px 10px; 
      border-radius: 50%;
      background-color: rgb(221, 217, 217);
  }

